body{
    margin:0;
    font-family: sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
}

.first-nav{
    display:flex;
    justify-content:flex-start;
}

.second-nav{
    display:flex;
    justify-content:flex-end; 
}
nav a {
    padding-right:20px;
    padding-left:20px;
    padding-top:15px;
    align-items: center;
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration:underline;
}
.flex-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.flex-row{
    display:flex;
    flex-direction:row;
    padding: 15px;
}
input{
    border:0;
    width:75%;
}

.input{
    border-radius: 35px;
    border: 1px solid #c9c5c5;
    width: 50%;
    display:flex;
    justify-content:space-between;
}

.material-icons-outlined{
    color:gray;
}

.material-icons{
    color:gray;
}
.button{
    background-color: #f7f5f5;
    border-radius:5px;
    border: 1px solid #f7f5f5;
    padding:10px 15px 10px 15px;
    margin: 10px;
}

.button:hover{
    border: 1px solid #c9c5c5;
    transition-duration: 0.4s;
}
footer{
    position:fixed;
    padding:10px 15px 10px 15px;
    background:#f7f5f5;
    bottom:0px;
    width: 100%;
    text-align: center;
    display:flex;
}

footer a {
    padding-right:10px;
    padding-top:10px;
    width:100%;
    justify-items: space-between;
    text-decoration:none;
    color: gray;
    
}