body{
    margin:0;
}
nav{
    display:flex;
    justify-content:space-between;
}

.first-nav{
    display:flex;
    justify-content:flex-start;
}

.second-nav{
    display:flex;
    justify-content:flex-end; 
}
nav a {
    padding-right:20px;
    padding-left:20px;
    padding-top:15px;
    align-items: center;
    text-decoration: none;
}

.flex-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.flex-row{
    display:flex;
    flex-direction:row;
    padding: 15px;
}

footer{
    position:fixed;
    padding:10px;
    background:gray;
    bottom:0px;
    width: 100%;
    text-align: center;
    display:flex;
}

footer a {
    padding-right:10px;
    padding-top:10px;
    width:100%;
    justify-items: space-between;
    text-decoration:none;
    
}